* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pizza', Courier, monospace;
}
.container-fluid {
    background-color: burlywood;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    margin: -10px;
}
body {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

@font-face {
    font-family: pizza;
    src: url(FoodDelight-7OP7E.ttf);
}
.carousel-container {
  position: relative;
  height: 70vh; 
  margin-top: 20px; 
}

.carousel-item {
  position:relative;
  text-align: center; 
}

.carousel-item img {
  max-width: 180%;
  height: max-content;
  display: block; 
  margin: 0 auto;
  margin-bottom: 20px; 
}

.pop {
  text-align: center;
  margin-bottom: 20px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 40px; 
  background-color: rgba(0, 0, 0, 0.5); 
  border: none;
  border-radius: 50%;
  z-index: 1; 
}

.carousel-control-prev {
  left: 10px; 
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 20px; 
  height: 20px;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu, .beverages {
  text-align: center;
  margin-bottom: 20px;
}

.menu-list, .beverage-list {
  list-style-type: none;
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
}

.menu-list li, .beverage-list li {
  flex-basis: 200px;
  margin: 10px;
  text-align: center;
}

.menu-list li img, .beverage-list li img {
  max-width: 150px; 
  height: auto;
  background-color: transparent;
}

.menu-list li h3, .beverage-list li h3 {
  margin-top: 10px;
  font-size: 16px;
}
.BOR {
  border-style: dashed;
  text-align: center;
}
.btna {
  font-family: 'Pizza', Courier, monospace;
}
.m {
  text-align:  center;
}
.footer {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
 /* Styling for the footer */
 .footer {
  background-color: burlywood;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  padding: 5px 0;
  text-align: center;
  color: #333;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  font-size: 1.0rem;
}
.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #333; 
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: #E53935; 
}
.social-icons {
  font-size: 1.9rem;
}