* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pizza', Courier, monospace;
}
.container-fluid {
    background-color: burlywood;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    margin: -10px;
}
body {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

@font-face {
    font-family: pizza;
    src: url(FoodDelight-7OP7E.ttf);
}
.menu {
    text-align: center;
}
.carousel-container {
  position: relative;
  height: 70vh; 
  margin-top: 20px; 
}

.carousel-item {
  position:relative;
  text-align: center; 
}

.carousel-item img {
  max-width: 25%;
  height: fit-content; 
  display: block; 
  margin: 0 auto; 
}

.pop {
  text-align: center;
  margin-bottom: 20px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 40px; 
  background-color: rgba(0, 0, 0, 0.5); 
  border: none;
  border-radius: 50%;
  z-index: 1; 
}

.carousel-control-prev {
  left: 10px; 
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 20px; 
  height: 20px;
}
